{% extends "kanban/base.html" %}

{% block content %}

<style>
body { padding-top: 70px; }
</style>
<div class = "center">
<div class="container" style="text-align: center">
  
  <div class="row flex-nowrap">
    
    {% for list in list_list %}
    {% if list.title == "これから行う予定のもの" %}
      <div class="bg-light m-3 p-2 " style="width: 240px; height: 140%">
      <h6 class = "mozi">{{ list.title }}</h6>
      {% for card in list.card_set.all %}
      {% if card.user.username == request.user.username %}
      <a href="{% url 'activity:cards_detail' card.pk %}" class="card m-3">
        <div class="card-body">
          <p class="card-title">{{ card.title }}</p>
          <footer>
            <small class="text-muted">活動日: {{ card.date }}</small>
          </footer>
          <footer>
            <small class="text-muted">活動開始時間: {{ card.start_time }}</small>
          </footer>
          <footer>
            <small class="text-muted">活動時間: {{ card.excercise_time }}</small>
          </footer>
        </div>
        
      </a>
      {% endif %}
      {% endfor %}
      <a href="{% url 'activity:cards_create_from_home' list.pk %}" class="text-dark"><i class="far fa-plus-square"></i> 予定を追加</a>
    {% elif list.title == "代替日" %}
      <div class="bg-light m-3 p-2 " style="width: 160px; height: 100%">
      <h6 class = "mozi">{{ list.title }}</h6>  
      {% for card in list.card_set.all %}
      {% if card.user.username == request.user.username %}
      <a href="{% url 'activity:cards_detail' card.pk %}" class="card m-3">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <footer>
            <small class="text-muted">活動日: {{ card.date }}</small>
          </footer>
          <footer>
            <small class="text-muted">活動開始時間: {{ card.start_time }}</small>
          </footer>
          <footer>
            <small class="text-muted">活動時間: {{ card.excercise_time }}</small>
          </footer>
        </div>
      </a>
      {% endif %}
      {% endfor %}
      {% endif %}<!-- urlを編集 -->
    </div>
    {% endfor %}
    
  </div>
</div>

</div>







{% endblock %}