{% extends "kanban/base.html" %}

{% block content %}
<div class = "center">
  <div class = "container">
 
    <h2 class = "center">ご褒美選択</h2>
    <br>
    <br>

    {% for reward in user.reward_recieve_set.all %} 
  
      <h5 class = "center">残りの運動ポイント: {{ reward.reward_recieve_point}}</h5>
  
    {% endfor %}
  
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">ご褒美をもらいに行こう！</button>
    </form>
    <br>
    <br>

    <div class = "b">
      <a class="btn btn-danger"href="{% url 'activity:rewards_detail'  %}" role="button">貰ったご褒美リスト！</a>
    </div>
    <style>
      .b{
        flex: left;
      }
    </style>
  </div>
  
</div>
<style>
  .center{
    text-align: center;
  }
</style>
{% endblock %}


{% block extrajs %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>

<script>
  $(function () {
    // 日付は、年-月-日 の形式でお願いする。
    let dateFormat = 'yy-mm-dd';
    $('#id_date').datepicker({
      dateFormat: dateFormat
    });
  });
</script>
{% endblock %}

